body{
   background-color: rgb(255, 6, 6);
   margin: 0;
   padding: 0;
}
main{
   width: 100%;
   height: 100%;
}
.main-content{
   display: flex;
   padding: 0 15%;
}
.one{
   height: 500px;
   width: 240px;
   background-color: aquamarine;
   margin-right: 10px;
}
.two{
   width: 600px;
   background-color: rgb(255, 255, 255);
   overflow: auto;
}
.three{
   height: 500px;
   width: 240px;
   background-color: aquamarine;
   margin-left: 10px;
}
.post{
   width: 95%;
   height: 50vh;
   background-color: rgb(242, 242, 242);
   margin: 1rem auto;
   border-radius: 1rem;
   box-shadow: 10px 5px 2px rgb(215, 215, 215);
}
.top-post{
   display: flex;
   justify-content: space-between;
   padding: 10px 20px;
}
.post-content{
   height: 30vh;
   display: flex;
   padding: 10px;
}
.post-content1{
   width: 80%;
}
.post-content2{
   width: 40%;
   padding: 10px;
}
.post-content2 img{
   width: 100%;
   height: 100%;
   padding: 10px;
}
.show{
   text-align: center;
   display: none;
}
.form-post{
   width: 80%;
   height: 100%;
   margin:80px auto;
}


@media (max-width:600px){
   .main-content{
      padding: 0;
   }
  .three,.one{
   display: none;
  }
  .two{
   width: 100%;
   height: 100vh;
   overflow: auto;
  }
  .post{
   width: 95%;
   height: 25vh;
   background-color: rgb(242, 242, 242);
   margin: 1rem auto;
   border-radius: 1rem;
   box-shadow: 10px 5px 25px rgb(215, 215, 215);
}
.post-content{
   height: 15vh;
   display: flex;
   padding: 10px;
}
.post-content1{
   padding: 10px 0 0 10px;
}
.show{
   text-align: center;
   display: block;
}
.show a{
   text-decoration: none;
   color: rgb(2, 183, 255);
   cursor: pointer;
}
}